<span class="custom-arrow">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 8 14" width="8" height="14" fill="currentColor">
      <title>Select</title>
      <path d="M7.567 4.996H.437L4.003.72l3.565 4.277Zm-7.129 4h7.128l-3.564 4.277L.438 8.997Z"></path>
    </svg>
  </span>